/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import "bootstrap-styles";

$bronze:							#cd7f32;
$silver:							#c0c0c0;

#search-form .control-group {
	float: left;
	margin: 5px;
}

#image_car_tags_attributes_0_car_color_id {
	width: 170px;
}

#image_wheel_tags_attributes_0_wheel_size_id {
	width: 120px;
}

#image_wheel_tags_attributes_0_wheel_offset_id {
	width: 80px;	
}	

.form-wrapper {
	background: $grayLight;
}

.image-tile {
	background: white;
	width: 280px;
	height: 320px;
	float: left;
	margin: 5px;
	border-radius: 8px;
	padding: 10px;
}

.image-tile:hover {
	padding-top: 8px;
	padding-bottom: 8px;
	border-top: solid 2px gray;
	border-bottom: solid 2px gray;
}

.image {
	width: 280px;
	height: 210px;
	overflow: hidden;
	margin: auto;
	padding-bottom: 4px;
}

.image img {
	width: auto;
	max-width: inherit;
	height: 100%;
	display: block;
	margin: auto;
}

.image-tile h3 {
	margin: 0;
	font-size: 16px;
	line-height: 32px;
}

.image-author-info {
	padding-top: 3px;
	padding-bottom: 3px;
}

.car-color-bar {
	height: 15px;
	width: 49%;
	float: left;
	opacity: 0.8;
}

	.car-color-bar.black {
		background: black;
	}

	.car-color-bar.blue {
		background: blue;
	}

	.car-color-bar.gray {
		background: gray;
	}

	.car-color-bar.green {
		background: green;
	}

	.car-color-bar.orange {
		background: orange;
	}

	.car-color-bar.red {
		background: red;
	}

	.car-color-bar.silver {
		background: $silver;
	}

	.car-color-bar.white {
		background: white;
		height: 13px;
		border: solid 1px $grayLight;
	}

	.car-color-bar.yellow {
		background: yellow;
	}

.wheel-color-bar {
	background: $bronze;
	height: 15px;
	width: 49%;
	float: right;
	opacity: 0.8;
}






.btn-pressed {
	background: $red;
}

#search-btn {
	display: none;
}

body {
	background: image-url("escheresque.png");
	padding-top: 60px;
/*	width: 100%;*/
}

.container {
	/*width: 100%;*/
}

#logo {
	float: left;
	margin-right: 10px;
	font-size: 2em;
	color: #fff;
	letter-spacing: 1px;
	padding-top: 7px;
	font-weight: bold;
	line-height: 1;
}

#logo:hover {
	text-decoration: none;
}

/*.simple_form .form-horizontal {
	width: 500px;
}*/

h2 {
	clear:both;
}

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
}























