/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import "bootstrap-styles";

// $bronze:							#cd7f32;
// $silver:							#c0c0c0;

html, body {
	height: 100%;
}

#search-form .control-group {
	/*float: left;*/
	margin: 5px;
}

.url.control-label {
	width: 70px;
}

.url .controls {
	margin-left: 80px;
}

.string.control-label {
	width: 70px;
}

.string .controls {
	margin-left: 80px;
}

.car-inputs .control-group {
	width: 200px;
}

.car-inputs .control-label {
	width: 70px;
}

.car-inputs .control-group .controls {
	margin-left: 80px;
}

.wheel-inputs .control-label {
	width: 90px;
}

.wheel-inputs .control-group .controls {
	margin-left: 100px;
}

.car-inputs {
	background: white;
	float: left;
	width: 33%;
}

.wheel-inputs.model-size {
	background: white;
	float: left;
	width: 33%;
}

.wheel-inputs.offset-color {
	background: white;
	float: left;
	width: 33%;
}

#image_car_tags_attributes_0_car_color_id {
/*	width: 160px;*/
}

#image_wheel_tags_attributes_0_wheel_model_id {
	width: 200px;
}

#image_wheel_tags_attributes_0_wheel_size_id {
	width: 200px;
}

#image_wheel_tags_attributes_0_wheel_offset_id {
	width: 200px;
}

#image_wheel_tags_attributes_0_wheel_color_id {
	width: 200px;
}

#image_url {
	width: 600px;
}

#image_caption {
	width: 600px;
}

/* Sign up page --------------------------------------------------------------*/

.signup-form label.string.control-label {
	width: 160px;
}

.signup-form .string .controls {
	margin-left: 180px;
}

.form-wrapper {
	/*background: $grayLight;*/
}

#edit-form {
	display: none;
}

/* Image Show page -----------------------------------------------------------*/

.car-tags {
	padding: 10px;
}

.image-modification-container {
	padding: 10px;
	width: 700px;
	float: left;
}

.wheel-box {
	margin: 10px;
	border: solid 1px black;
	width: 200px;
}

/* Comments ------------------------------------------------------------------*/

.comments-container {
	width: 210px;
	padding-top: 10px;
	float: left;
	height: auto;
}

.existing-comment {
	height: auto;
	padding: 5px;
	margin-bottom: 5px;
	background: $grayLighter;
	border: solid 1px black;
	border-radius: 5px;
}

.comments-container .controls {
	margin-left: 0;
}

#comment-form textarea {
	width: 200px;
	height: 50px;
}

.image-preview {
	width: 50%;
	margin: auto;
	margin-bottom: 20px;
}

/* Navbar --------------------------------------------------------------------*/

.navbar {
	// background: image-url("escheresque_ste.png");
}

.navbar-inner {
	// background: image-url("escheresque_ste.png");
}

nav > ul > li {
	padding-bottom: 2px;
}

nav > ul > li:hover {
	border-bottom: solid 2px red;
	// border-left: solid 2px red;
	// border-right: solid 2px red;
	// padding-bottom: 8px;
	padding-bottom: 0px;
}

.image-order-toggler {
	width: 100%;
	text-align: center;
}

.image-order-toggler .btn {
	margin-left: 5px;
	margin-right: 5px;
}

.btn-pressed {
	border: solid 2px black;
}

#search-btn {
	display: none;
}

.search-form-wrapper {
	padding-bottom: 15px;
	position: fixed;
	background: white;
	// background: image-url("escheresque.png");
	width: 940px;
	top: 40px;
	padding-top: 40px;
	z-index: 10;
}

#images {
	margin-top: 42px;
}

#images.dropdown {
	margin-top: 140px;
}

// #search-form {
// 	display: none;
// 	/*position: fixed;*/
// }

#search-form.search-form-show {
	display: block;
}

body {
	// background: image-url("escheresque.png");
/*	padding-top: 60px;*/
	width: 100%;
}

.spacer {
	height: 40px;
	background: white;
	// background: image-url("escheresque.png");
	padding-top: 40px;
	position: relative;
	z-index: 1000;
}

.main {
	/*background: white;*/
	// background: image-url("escheresque.png");
	min-height: 100%;
}

#logo {
	font-family: 'Playball', cursive;
	color: #9933cc;
	float: left;
	margin-left: 5px;
	margin-right: 10px;
	font-size: 30px;
	/*color: white;*/
	letter-spacing: 1px;
	padding-top: 7px;
	/*font-weight: bold;*/
	line-height: 1;
	&:hover {
		text-decoration: none;
	}
}

h2 {
	clear:both;
}

/* Pagination ----------------------------------------------------------------*/

.pagination {
	clear: both;
}

.test {
	width: 20px;
	height: 20px;
	background: blue;
	position: absolute;
	top: 10px;
	right: 10px;
}

/* Debug and misc ------------------------------------------------------------*/

.debug_dump {
	clear: both;
	float: left;
	width: 938px;
	padding: 0;
	margin-top: 45px;
}

.clearfix {
	clear: both;
}