/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import "bootstrap-styles";

$bronze:							#cd7f32;
$silver:							#c0c0c0;

#search-form .control-group {
	/*float: left;*/
	margin: 5px;
}

.url.control-label {
	width: 70px;	
}

.url .controls {
	margin-left: 80px;
}

.string.control-label {
	width: 70px;	
}

.string .controls {
	margin-left: 80px;
}

.car-inputs .control-group {
	width: 200px;
}

.car-inputs .control-label {
	width: 70px;
}

.car-inputs .control-group .controls {
	margin-left: 80px;
}

.wheel-inputs .control-label {
	width: 90px;
}

.wheel-inputs .control-group .controls {
	margin-left: 100px;
}

.car-inputs {
	background: $grayLighter;
	float: left;
	width: 33%;
}

.wheel-inputs.model-size {
	background: $grayLighter;
	float: left;
	width: 33%;
}

.wheel-inputs.offset-color {
	background: $grayLighter;
	float: left;
	width: 33%;
}

#image_car_tags_attributes_0_car_color_id {
/*	width: 160px;*/
}

#image_wheel_tags_attributes_0_wheel_model_id {
	width: 200px;
}

#image_wheel_tags_attributes_0_wheel_size_id {
	width: 200px;
}

#image_wheel_tags_attributes_0_wheel_offset_id {
	width: 200px;	
}	

#image_wheel_tags_attributes_0_wheel_color_id {
	width: 200px;	
}	

#image_url {
	width: 600px;
}

#image_caption {
	width: 600px;
}

.form-wrapper {
	/*background: $grayLight;*/
}

.image-tile {
	background: white;
	width: 300px;
	height: 320px;
	float: left;
	margin: 5px;
	/*border-radius: 5px;*/
	padding: 1px;
}

.image-tile:hover {
/*	padding-top: 8px;
	padding-bottom: 8px;
	border-top: solid 2px gray;
	border-bottom: solid 2px gray;*/

	.image-frame {
/*		opacity: 0.8;*/
	}
	
	.image-frame.black {
		background: rgba(0, 0, 0, 0.7);
	}

	.image-frame.blue {
		background: rgba(0, 0, 255, 0.7);
	}

	.image-frame.gray {
		background: rgba(190, 190, 190, 0.7);
	}

	.image-frame.green {
		background: rgba(0, 255, 0, 0.7);
	}

	.image-frame.orange {
		background: rgba(255, 165, 0, 0.7);
	}

	.image-frame.red {
		background: rgba(255, 0, 0, 0.7);
	}

	.image-frame.silver {
		background: rgba(192, 192, 192, 0.7);
	}

	.image-frame.white {
		background: rgba(255, 255, 255, 0.7);

/*		.image-tile {
			padding: 0px;
			border: solid 1px gray;
		}*/
	}

	.image-footer.black {
		background: rgba(0, 0, 0, 0.7);

		h3 {
			color: white;
		}
	}

	.image-footer.bronze {
		background: rgba(205, 127, 50, 0.7);
	}

	.image-footer.chrome {
		background: rgba(192, 192, 192, 0.7);
	}

	.image-footer.silver {
		background: rgba(192, 192, 192, 0.7);
	}

}

.image {
	width: 300px;
	height: 225px;
	overflow: hidden;
	margin: auto;
	padding-top: 5px;
	padding-bottom: 4px;
}

.image img {
	width: auto;
	max-width: inherit;
	height: 100%;
	display: block;
	margin: auto;
}

.image-tile h3 {
	margin: 0;
	padding-left: 10px;
	font-size: 16px;
	line-height: 32px;
}

.image-author-info {
	/*muted*/
	padding-left: 10px;
}

.image-frame {
	width: auto;
	height: 235px;
/*	border-top: 5px;
	border-bottom: 5px;*/
}

.image-footer {
	width: auto;
/*	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;*/
}

.image-author-info {
	padding-top: 3px;
	padding-bottom: 3px;
}

.image-show {
	width: 70%;
	float: left;
}

.wheel-tags {
	float: left;
	width: 30%;
	height: 440px;
}

.wheel-tag {
	height: 25px;
	width: 100px;
	border: solid 2px gray;
	border-radius: 5px;
	margin: 2px;
	clear: left;
	float: left;
}

.wheel-tag:hover {
	background: $grayLighter;
}

#edit-form {
	display: none;
}

.comment-container {
	width: 70%;
	height: auto;
	background: $grayLight;

}
.comments-container textarea {
	width: 70%;
	height: 200px;
}

.comments-container .controls {
	margin-left: 0;
}

.like-button {
	margin-left: 5px;	
}

.image-preview {
	width: 50%;
	margin: auto;
	margin-bottom: 20px;
}


.wheel-tag
/*.car-color-bar {
	height: 15px;
	width: 49%;
	float: left;
	opacity: 0.8;
}

	.car-color-bar.black {
		background: black;
	}

	.car-color-bar.blue {
		background: blue;
	}

	.car-color-bar.gray {
		background: gray;
	}

	.car-color-bar.green {
		background: green;
	}

	.car-color-bar.orange {
		background: orange;
	}

	.car-color-bar.red {
		background: red;
	}

	.car-color-bar.silver {
		background: $silver;
	}

	.car-color-bar.white {
		background: white;
		height: 13px;
		border: solid 1px $grayLight;
	}

	.car-color-bar.yellow {
		background: yellow;
	}

.wheel-color-bar {
	background: $bronze;
	height: 15px;
	width: 49%;
	float: right;
	opacity: 0.8;
}
*/

.navbar {
	background: image-url("escheresque.png");
}

.navbar-inner {
	background: image-url("escheresque.png");
}

.navbar li:hover {
	border-bottom: solid 2px red;
}

/*.nav-search-btn {
	background: green;
}*/

.image-order-toggler .btn {
	margin-left: 5px;
	margin-right: 5px;
}

.btn-pressed {
	border: solid 2px black;
}

#search-btn {
	display: none;
}
/*
.search-form-wrapper {
	display: none;
}
*/

#search-form {
	display: none;
}

body {
	/*background: image-url("escheresque.png");*/
	padding-top: 60px;
/*	width: 100%;*/
}

.container {
	/*width: 100%;*/
}

#logo {
	float: left;
	margin-right: 10px;
	font-size: 2em;
	color: black;
	letter-spacing: 1px;
	padding-top: 7px;
	font-weight: bold;
	line-height: 1;
}

#logo:hover {
	text-decoration: none;
}

/*.simple_form .form-horizontal {
	width: 500px;
}*/

h2 {
	clear:both;
}

.image-order-toggler {
	margin: auto;
}


.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
}


